.blog {
  width: 531px;
  margin-top: 260px;
  //max-height: 659px;
  margin-right: 140px;
  @media (max-width: 575px) {
    width: 300px;
    margin: 0 auto;
    padding-top: 33px;
  }
  @media screen and (max-width: 320px) {
    padding-top: 45px;
  }
}
h2 {
  text-align: center;
  margin-bottom: 24px;
  @media (max-width: 575px) {
    margin-bottom: 18px;
  }
}
// .blog-title {
//   @media (max-width: 575px) {
//     margin-left: -40px;
//   }
// }
.scroll-blog {
  border: 3px solid $blue;
  height: 595px;
  border-radius: 100px;
  width: 531px;
  background-color: #ffffff19;
  @media (max-width: 575px) {
    border-radius: 50px;
    width: 300px;
    margin: 0 auto;
  }
  @media screen and (max-width: 320px) {
    height: 421px;
  }
}
.scrBar {
  width: 95%;
  height: 90%;
  margin: 50px 5px 50px 10px;
  @media screen and (max-width: 320px) {
    margin: 20px 5px 20px 10px;
  }
}
.blog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  overflow: auto;
  @media (max-width: 575px) {
    max-height: 478px;
    border-radius: 50px;
  }
  @media screen and (max-width: 320px) {
    max-height: 378px;
    border-radius: 50px;
  }
}
.blog-list {
  width: 467px;
  border: 3px solid $blue;
  border-radius: 196px;
  background: none;
  color: $white;
  background: #1e1231;
  cursor: pointer;
  margin-top: 24px;
  @media (max-width: 575px) {
    width: 274px;
    margin-top: 10px;
    border-radius: 40px;
  }


}
.blog-list:hover {
  color: $white;
}
.blog-text {
  display: block;
  margin: 15px 64px;
  p {
    margin-bottom: 6px;

    font-size: 24px;
    font-weight: 400;
    line-height: 28px;

    text-align: left;
  }
  @media (max-width: 575px) {
    margin: 15px 34px;
    p {
      margin-bottom: 6px;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}

.blog-item::-webkit-scrollbar {
  width: 8px;
  height: 300px;
}
.blog-item::-webkit-scrollbar-track {
  background: #ffffff46; /* цвет дорожки */
}
.blog-item::-webkit-scrollbar-thumb {
  background-color: $blue; /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
}
