@font-face { 
    font-family: "FuturaPTMedium";
    src: url("../fonts/FuturaPTMedium/FuturaPTMedium.eot");
    src: url("../fonts/FuturaPTMedium/FuturaPTMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FuturaPTMedium/FuturaPTMedium.woff") format("woff"),
    url("../fonts/FuturaPTMedium/FuturaPTMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}