.footer-wrap {
  border-top: 2px solid $blue;
  border-left: 2px solid $blue;
  border-right: 2px solid $blue;
  border-radius: 64px 64px 0px 0px;
  display: flex;
  flex-direction: column; 
  background: #110a1d;
  margin-top: -50px;
  @media (max-width: 575px) {
    margin-top: 0px;
    padding-top: 10px;
  }
  @media screen and (max-width: 320px) {
    padding-top: 5px;
  }
}
.wrap-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 34px;

  @media (max-width: 575px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 10px;
  }
  @media screen and (max-width: 320px) {
    width: 98%;
  }
}
.footer-logo {
  margin-left: 35px;
  @media screen and (max-width: 320px) {
    margin-left: 10px;
  }
}
.logo-footer {
  margin-bottom: 16px;
  @media screen and (max-width: 320px) {
    width: 80%;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.logos {
  @media screen and (max-width: 320px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    img {
      display: block;
    }
  }
}
.text-soc-title {
  font-family: $lexend;
  color: $white;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-right: 15px;
  @media (max-width: 575px) {
    font-size: 14px;
    padding-right: 0px;
  }
}
.menu-list-footer {
  display: flex;
  flex-wrap: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  //margin: 0px auto;
  @media (max-width: 575px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: flex-end;
    margin-top: 20px;
    padding-top: 0px;
    margin-bottom: 3px;
    margin-left: -250px;
  }
  @media screen and (max-width: 320px) {
    margin-left: -120px;
  }

  li {
    padding-right: 32px;
    text-align: end;
    @media (max-width: 575px) {
      padding-right: 12px;
      font-size: 14px;
      text-align: left;
    }
  }
}
.mga {
  margin-right: 32px;
}
.text-soc-title {
  text-align: right;
  margin-bottom: 15px;
  @media (max-width: 575px) {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 20px;
  }
}
.footer-text {
  width: 1650px;
  border-top: 1px solid #ffffff99;
  margin-top: 32px;
  margin-left: 140px;
  margin-bottom: 24px;
  text-align: center;
  @media (max-width: 575px) {
    width: 500px;
    margin: 0 auto;
    padding-top: 15px;
    p {
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 12px;
      font-weight: 400;
      line-height: 10px;
    }
  }
  p {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  @media screen and (max-width: 320px) {
    width: 290px;
    margin-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.soc-title {
  @media (max-width: 575px) {
    margin-left: -150px;
    margin-bottom: 10px;
  }
  @media screen and (max-width: 320px) {
    margin-left: -1px;
  }
}
.soc-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 400;
  @media (max-width: 575px) {
    align-items: flex-start;
    font-size: 32px;
  }
}
.footer-menu-item {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 11px;
  // background-color: $blue;
  background-image: url("../acsses/Union1.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  cursor: pointer;
  @media screen and (max-width: 320px) {
    width: 27px;
    height: 27px;
    margin-right: 8px;
  }
  img {
    display: block;
    margin: 25% auto;
    // @media screen and (max-width: 320px) {
    //   margin: 15% auto;
    // }
  }
  .yuotube {
    margin-top: 35%;
  }
}
.footer-menu-item:hover {
  background-image: url("../acsses/UnionHover.png");
}
