.wrap-page {
  // max-height:960px;
  max-width: 1960px;
  height: auto;
  background-image: url(/acsses/LineLight.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  margin-top: -10px;
  @media (max-width: 575px) {
    max-width: 574px;
    padding-top: 136px;
  }
}
.page {
  display: block;
  max-width: 669px;
  height: auto;
  text-align: left;
  margin-top: 416px;
  margin-left: 140px;
  @media (max-width: 575px) {
    max-width: 574px;
    text-align: center;
    padding-top: 70px;
    margin: 0 auto;
  }
  @media screen and (max-width: 320px) {
    padding-top: 10px;
  }
}

span {
  color: $blue;
}
h1 {
  //display: block;
  margin-bottom: 24px;
  @media (max-width: 575px) {
    margin-bottom: 12px;
  }
}
h3 {
  margin-bottom: 48px;
  @media (max-width: 575px) {
    margin-bottom: 24px;
  }
}
.btn-page {
  display: block;
  width: 393px;
  height: 72px;
  background: $blue;
  color: $white;
  border-radius: 48px;
  border: none;
  //styleName: Buttons/Btn. CTA;
  a{
    font-family: $lexend;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  @media screen and (max-width: 320px) {
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 auto;
  }
  }
  @media (max-width: 575px) {
    width: 300px;
    height: 53px;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 auto;
  }
}
